<div class="container mt-5">
    <div class="row">
        <div class="col">
            <img src="~/images/Space Cadet.jpg" style="background-color: rgb(246, 246, 246);" class="card-img-top"
                alt="...">
        </div>
        <div class="col">
            <h1>Product Name</h1>
            <h3>Price per bag</h3>
            <h4>Taste</h4>
            <p>Extra smooth, extra chocolaty-sweet, and dare we say...extraterrestrial? A splash of ripe cherry
                juiciness makes this crowd-pleasing cup every bit as delicious hot as it is cold.</p>
            <label for="inputPassword5" class="form-label">Size</label>
            <select class="form-select form-select-lg mb-3" aria-label="Large select example">
                <option selected>Standard: 10.93 oz (About 20 Cups)</option>
                <option value="1">Big Bag: 32 oz (About 60 cups)</option>
            </select>
            <label for="inputPassword5" class="form-label">Quantity</label>


            <button></button>

        </div>
    </div>
</div>