

<div class="text-end">
    @*----------------------------------------------------Don't delete this--------------------------------------------*@
    <button class="btn btn-primary" style="background:fixed; border:none;" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <i class="fa-solid fa-cart-shopping fa-2xl" style="color: #000000;"></i>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Shopping Cart</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm" style="text-align: justify;">
                    <div>
                        <h6 class="my-0">Nike T-shirt</h6>
                        <small class="text-body-secondary">Quantity: 2</small>
                    </div>
                    <span class="text-body-secondary">$12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm" style="text-align: justify;">
                    <div>
                        <h6 class="my-0">Second product</h6>
                        <small class="text-body-secondary">Brief description</small>
                    </div>
                    <span class="text-body-secondary">$8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm" style="text-align: justify;">
                    <div>
                        <h6 class="my-0">Third item</h6>
                        <small class="text-body-secondary">Brief description</small>
                    </div>
                    <span class="text-body-secondary">$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between" style="text-align: justify;">
                    <span>Total (USD)</span>
                    <strong>$20</strong>
                </li>
            </ul>
        </div>
    </div>
</div>